# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual environment
# ===============================
venv/
.env/

# ===============================
# Datasets (DO NOT PUSH)
# ===============================
DIV2K_train_HR/
DIV2K_train_LR/
div2k_data/
data/
datasets/

# ===============================
# Training outputs
# ===============================
checkpoints/
results/
images/

# ===============================
# Logs & plots
# ===============================
*.log
*.png
*.jpg
*.jpeg

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
